


   
    <div class="links">
    </div>

    

  <style>
    .links{
    display: inline-flex;
    align-items: center;
    justify-content: center ;
    flex-direction: column;
    color: #1ca78b;
    text-decoration: none;
    background-color: #e8e8e8;
    height: auto;
    width: 99vw;
    padding: 0;
    margin-top: auto;
}

.bottom{
    display: inline-flex;
    align-items: center;
    justify-content: center ;
    flex-direction: column;
    color: #1ca78b;
    text-decoration: none;
    background-color: #3c3c3c;
    height: 7vh;
    width: 99vw;
    margin-bottom: 0;
    padding: 0;
}

  </style>
  