<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/test2.css">
    <script src="https://kit.fontawesome.com/1364972581.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Youphonica</title>
    <link rel="icon" type="image/png"  href="\media\32 x 32 icon.png">
</head>
<body>
    <%- include('partials/header')%>

    <div id="container-new" class="col-10 offset-1">

 
   <h2 class="text-center main-desc mt-0 mb-5">Watch concerts, listen to live events and find new artists from all around the world. Youphonica aims to offer convinience to both artists and their fans.</h2>
          <div class="buttons">
        <a href="/account/create-account">
          <button class="rounded mt-0 mb-2 offset-4">Create Account</button>
        </a>

        <a href="/account/sign-in">
          <button class="rounded mt-0 mb-2 offset-4">Sign in</button>
        </a>

        <a href="/posts">
          <button class="rounded mt-0 mb-2 offset-4">Homepage</button>
        </a>

        <a href="/artists">
          <button class="rounded mt-0 mb-2 offset-4">Explore All Of The Artists On Youphonica</button>
        </a> 
        </div>


        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 1024 1024"><path fill="currentColor" d="M512 378.7c-73.4 0-133.3 59.9-133.3 133.3S438.6 645.3 512 645.3S645.3 585.4 645.3 512S585.4 378.7 512 378.7zM911.8 512c0-55.2.5-109.9-2.6-165c-3.1-64-17.7-120.8-64.5-167.6c-46.9-46.9-103.6-61.4-167.6-64.5c-55.2-3.1-109.9-2.6-165-2.6c-55.2 0-109.9-.5-165 2.6c-64 3.1-120.8 17.7-167.6 64.5C132.6 226.3 118.1 283 115 347c-3.1 55.2-2.6 109.9-2.6 165s-.5 109.9 2.6 165c3.1 64 17.7 120.8 64.5 167.6c46.9 46.9 103.6 61.4 167.6 64.5c55.2 3.1 109.9 2.6 165 2.6c55.2 0 109.9.5 165-2.6c64-3.1 120.8-17.7 167.6-64.5c46.9-46.9 61.4-103.6 64.5-167.6c3.2-55.1 2.6-109.8 2.6-165zM512 717.1c-113.5 0-205.1-91.6-205.1-205.1S398.5 306.9 512 306.9S717.1 398.5 717.1 512S625.5 717.1 512 717.1zm213.5-370.7c-26.5 0-47.9-21.4-47.9-47.9s21.4-47.9 47.9-47.9s47.9 21.4 47.9 47.9a47.84 47.84 0 0 1-47.9 47.9z"/></svg>

<h2 class="text-center mt-5" id="target"></h2>

         <script>
             const targetH2 = document.getElementById('target')

             const date = new Date()

             const dts = date.toDateString()

             const time = date.toLocaleTimeString()

             targetH2.innerText = dts
         </script>
    
    </div>
    <div class="mt-auto">
        <%- include('partials/footer')%>   
    </div>
 
    
  <style>
    * {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #3c3d3c;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition: 0.3s linear;
    display: inline-block;
    align-items: center;
    justify-content: center;
}

:root{
    --clr-text: #1ca78b;
    --clr-textitems: #3c3d3c;
    --clr-navbar: #1ca78b;
    --clr-background: #e8e8e8; 
    --clr-items: #c0c7cc;
    --clr-textgrey: #3c3d3c;
}

.dark-mode{
    --clr-text: #1ca78b;
    --clr-background: #5c5e5c; 
    --clr-items: #3c3d3c;
    --clr-textgrey: #3c3d3c;
    --clr-textitems: #1ca78b;
}

#container-new{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 5vh;
}

div.buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2%;
}



h2{
    color: #1ca78b;
    text-decoration: none;
    font-size: x-large;
}

h2.main-desc{
    font-size: x-large;
}


.hide{
    display: none;
}



button{
    margin-top: 5%;
    width: 25vw;
    background-color: #1ca78b;
    border: solid 3px #3c3d3c;
}


button:hover{
    transform: scale(1.1);
}

footer{
    display: inline-flex;
    align-items: center;
    justify-content: center ;
    flex-direction: column;
    color: #1ca78b;
    text-decoration: none;
    background-color: #3c3d3c;
    height: auto;
    width: 100vw;
    margin-top: auto;
}

  </style>
</html>