* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition: 0.3s linear;
    display: inline-block;
    align-items: center;
    justify-content: center;
}

:root{
    --clr-text: #1ca78b;
    --clr-textitems: #3c3d3c;
    --clr-navbar: #1ca78b;
    --clr-background: #e8e8e8; 
    --clr-items: #c0c7cc;
    --clr-textgrey: #3c3d3c;
}

.dark-mode{
    --clr-text: #1ca78b;
    --clr-background: #5c5e5c; 
    --clr-items: #3c3d3c;
    --clr-textgrey: #3c3d3c;
    --clr-textitems: #1ca78b;
}

#container-new{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 5vh;
}

h2,h4{
    color: #3c3d3c;
    text-decoration: underline #1ca78b;
}

.input-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hide{
    display: none;
}

.none{
    display: none;
}

.header{
    align-items: center;
    justify-content: center;
    margin-left: 46%;
    transition: 0.3s linear;
}



nav{
    width: 100vw;
}

.nav-links{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: #3c3d3c;
    text-decoration: none;
}

#nav-a{
    padding: 0;
    margin-left: 1%;
    color: #1ca78b;
    text-decoration: none;
}

#nav-a:hover{
   text-decoration: underline 3px #000;
   font-size: 1.2em;
}

::placeholder{
    color:#000;
    text-transform: capitalize;
    font-style: italic;
  transition: top 0.3s ease;
  transition: text 0.3s ease;
 transition: color 0.3s ease;
}

input:focus::placeholder,textarea:focus::placeholder{
    font-size: smaller;
}

input:focus,textarea:focus{
color: #696d69;
}


.agree_tos{
    margin-top: 20px;
}

#agree_tos{
    margin-top: 0px;
    transform: scale(0.75);
    margin-bottom: -30px;
}

input{
    height: 7%;
    width: 25em;
    border: none;
    border-bottom: solid 1px #3c3d3c;
    border-radius: 5px;
}

input.price{
    height: 7%;
    width: 25em;
    border: none;
    border-bottom: solid 1px #3c3d3c;
    border-radius: 5px;
}

.icon{
    position: relative;
    height: 0em;
    top: 3em;
    left: 0;
    color: #1ca78b;
  }

  .form-icon{
    position: relative;
    height: 0em;
    top: 3em;
    left: 0;
    margin-right: 0.5em;
  }

select{
    max-width: fit-content;
    min-width: fit-content;
}

.form-control{
    height: 5%;
    width: 10%;
}

textarea{
    height: 25vh;
    width: 48vw;
}

span{
    height: 2.4em;
}

label{
    color: #3c3d3c;
    font-weight: 600;
}

#desc{
    width: auto;
}

button{
    margin-top: 30%;
    width: fit-content;
    background-color: #1ca78b;
    border: solid 3px #3c3d3c;
}

button:hover{
    transform: scale(1.1);
}


.btn-submit{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

span.dollar{
    background-color: #1ca78b;
}

.currency{
    margin-left: 16vw;
    margin-top: 0vh;
    width: 17vw;
}



    input.valid{
        border: none;
        border-bottom: solid 1px #5cb85c;
        font-weight: 400;
    }

    input.valid:focus{
        border: none;
        border-bottom: solid 3px #5cb85c;
        font-weight: 400;
    }

    input.invalid{
        border: none;
        border-bottom: solid 1px #d9534f;
        font-weight: 400;
    }

    input.invalid:focus{
        border: none;
        border-bottom: solid 3px #d9534f;
        font-weight: 400;
    }


    textarea.valid{
        border: solid 1px #5cb85c;
        font-weight: 400;
        background-color: #afe5af;
    }

    textarea.valid:focus{
        border: solid 1px #5cb85c;
        box-shadow: 2px 2px 2px 2px #5cb85c;
        font-weight: 400;
    }

    textarea.invalid{
        border: solid 1px #d9534f;
        background-color: #efa7a4;
        font-weight: 400;
    }

    textarea.invalid:focus{
        border: solid px #d9534f;
        box-shadow: 2px 2px 2px 2px #d9534f;
        font-weight: 400;
        font-style: var(--clr-textitems);
    }


.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.btn-afa{
    font-size: 1.2em;
    width: 30vw
}
 
.pop-up{
    position: fixed;
    top: 70%;
    left: 51%;
    min-height: 20vh;
    transform: translate(-50%, -50%);
    border: 3px solid #1ca78b;
    border-radius: 2px;
    background-color: #e8e8e8;
    margin-bottom: 20%;
}

.pop-up-header{
    justify-content: space-between;
    padding: 2%;
    border-bottom: 3px solid #3c3d3c;
}

.confirm{
 position: relative;
 left: 40%;
}

.none{
    display: none;
}

.submit-cs{
    text-align: center;
}

.tos{
    color: #049bff;
}

.tos:hover{
    color: #049bff;
    text-decoration: underline #049bff;
}

.checkbox{
    text-align: center;
}

.checkbox-container{
    text-align: center;
}

.tos-div{
    margin-left: -35%;
    transform: scale(1.4);
}

.invalid{
    color: #d9534f;
}

#tos{
    text-align: center;
}


.currency-cs{
    margin-left: 33%;
}

.loading{
    display: flex;
    justify-content: center;
    width: 50px;
    height: 50px;
    border: 10px solid white;
    border-radius: 50%;
    margin-left: 46%;
    margin-top: 10%;
    margin-bottom: 10%;
    box-shadow: 2px 1px 2px 1px #1ca78b;
    animation: loading 1s linear infinite;
}

@keyframes loading {
    to {
        transform: rotate(1turn);
    }
}


.loading-new-post{
    display: flex;
    justify-content: center;
    width: 50px;
    height: 50px;
    border: 10px solid white;
    border-radius: 50%;
    margin-left: 48%;
    margin-top: 1%;
    margin-bottom: 1%;
    box-shadow: 2px 1px 2px 1px #1ca78b;
    animation: loading 1s linear infinite;
}



































.full-screen:hover{
 transform: scale(1.4);
 color: #d9534f;
 cursor: pointer;
}


.play-pause{
    -webkit-tap-highlight-color: transparent;
    transform: scale(3);
    margin-left: 50%;
    margin-bottom: 0%;
    cursor: pointer;
}


.left-controls{
    margin-bottom: 0%;
}


.middle{
    display: flex;
    justify-content: center;
    align-self: center;
}

.right-controls{
    margin-bottom: -4%;
}


.right-controls:hover .volume-slider{
    width: 15%;
    transform: scaleX(1);
}

.volume-slider{
    width: 0;
    transform: scaleX(0);
    transform-origin: left;
    color: #1ca78b;
    transition: width 0.5s ease-in-out, transform 0.5s ease-in-out;
}


.forward{
    -webkit-tap-highlight-color: transparent;
    transform: scale(2);
    margin-left: 30%;
    margin-bottom: 27%;
    cursor: pointer;
}

.rewind{
    -webkit-tap-highlight-color: transparent;
    transform: scale(2);
    margin-left: 5%;
    margin-bottom: 27%;
    cursor: pointer;
}

.volume{
    -webkit-tap-highlight-color: transparent;
    margin-right: 2%;
}

.stage{
    -webkit-tap-highlight-color: transparent;
    position: relative;
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
    margin-inline: auto;
}

.controls-container:hover, .controls-container.paused {
    opacity: 1;
}

video{
 width: 100%;
}

.controls-container{
    -webkit-tap-highlight-color: transparent;
    position: absolute;
    right: 1%;
    left: 0;
    bottom: 1%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.time{
    color: #1ca78b;
    font-weight: 700;
    margin-left: 1%;
}

.duration{
    display: flex;
    align-items: center;
    flex-grow: 1;
    width: 70%;
    margin-left: 1%;
    color: #1ca78b;
    font-weight: 700;
    
}

.timeline-cont{
    margin-inline: 1%;
    margin-bottom: 2%;
    padding-top: 2%;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.timeline{
    background-color: #b2f0b2;
    height: .3em;
    width: 100%;
    position: relative;
}

.timeline::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: calc(100% - var(--preview) * 100% );
    background-color: #d9534f;
    display: none;
}

.timeline::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: calc(100% - var(--progress) * 100% );
    background-color: #1ca78b; 
}

.timeline-cont:hover .timeline::before{
    display: block;
}



.video-container.scrubbing .timeline::before,
.timeline-container:hover .timeline::before {
  display: block;
}

.video-container.scrubbing .timeline,
.timeline-container:hover .timeline {
  height: 100%;
}



.audio-thumb{
    width: 50vw;
    height: 70vh;
}







.pop-up-body-new-post{
    margin-top: 1%;
}


a:hover{
    text-decoration: underline;
}

footer{
    display: inline-flex;
    align-items: center;
    justify-content: center ;
    flex-direction: column;
    color: #1ca78b;
    text-decoration: none;
    background-color: #3c3d3c;
    height: 20vh;
    width: 100vw;
    margin-top: auto;
}























@media only screen and (max-width: 600px){
    .header{
        margin-left: 33%;
    }   
    nav{
        text-align: center;
    }
    .concerts_purchased{
        margin-right: 5%;
    }
    .ca{
        margin-right: 7%;
    }
    .flash, .alert{
       display: none;
   }
   .terms{
       width: 17em;
       text-align: center;
       justify-content: center;
       margin-left: -3em;
   }
   input.price{
       max-width: 75%;
   }
   .form-new-post{
       margin-left: -2em;
   }
   .edit-banner{
       width: fit-content;
       margin-left: -3em;
   }
   .edit-banner-label{
    visibility: hidden;
}.fa-music, .fa-shopping-cart, .fa-users-cog{
    visibility: hidden;
}
}



@media screen and (min-device-width: 768px)
and (max-device-width: 1024px) {
    .header{
        margin-left: 37%;
    }.fa-music, .fa-shopping-cart{
        visibility: hidden;
    }
    input.price{
        max-width: 85%;
    }
    div.form-check{
        text-align: center;
        margin-left: 0%;
    }
    div.checkbox-container{
        text-align: center;
    }
    .edit-banner{
        width: fit-content;
        margin-left: 3em;
    }
    .edit-banner-label{
        visibility: hidden;
    }
}


@media screen and (min-device-width: 810px)
and (max-device-width: 1080px) {
    .header{
        margin-left: 43%;
    }  
.fa-music, .fa-shopping-cart{
    visibility: hidden;
} 
    div.form-check{
        text-align: center;
        margin-left: 0%;
    }
    div.checkbox-container{
        text-align: center;
    }
    .edit-banner{
        width: fit-content;
        margin-left: 3em;
    }
    .edit-banner-label{
        visibility: hidden;
    }
}














@media only screen   
and (min-device-width : 768px){
    .header{
        align-items: center;
        justify-content: center;
        margin-left: 44%;
        transition: 0.3s linear;
    }

    .icon{
        position: relative;
        height: 0em;
        top: 0em;
        left: 0;
      }
    
      .form-icon{
        position: relative;
        height: 0;
        top: 0.25em;
        left: 0;
        margin-right: 0.5em;
      }
      
      .input-cont{
        margin-left: 15%;
      }
}  