.header-si{
    display: flex;
    justify-content: left;
    margin-right: 75%;
}


.header-bg{
    position: relative;
    margin: 0;
    padding: 0;
    height: 5em;
    background-color: #3c3d3c;
    text-decoration: none;
}


.logo{
    display: flex;
    justify-content: left;
    margin-right: 75%;
    margin-top: -4%;
    top: 0;
    left: 0;
}

#nav-a{
    padding: 0;
    color: #1ca78b;
    text-decoration: none;
}

.right-cont{
    justify-content: right;
}

.icon-container-nav{
    display: flex;
    flex-direction: row;
    margin-left: -15em;
    margin-top: 1.5em;
    padding: 1%;
}



.notify-bell{
    color: #1ca78b;
}

.notis{
    padding-left: 1.5em;
}











ul{
    list-style:none;
    text-align: right;
}

li{
    margin-bottom: 2%;
}

li a{
  color: #1ca78b;  
  padding: 2%;
  text-decoration: none;
  list-style: none;
}

li a:hover{
    color: #1ca78b;  
    text-decoration: underline 2px #1ca78b;
  }

.dropdown-1{
    position: absolute;
    padding: 1%;
    max-width: 12em;
    min-width: 10em;
    background-color: #3c3d3c;
    color: #1ca78b;
    list-style: none;
    text-decoration: none;
    opacity: 100;
    right: 4%;
    top: 5em;
}























.search-container{
    z-index: 0;
    text-align: center;
    margin: 0 auto  ;
    margin-top: 1.5em;
    margin-left: 20vw;
}

p.dismiss{
    text-decoration: underline;
    color: blue;
    cursor: grabbing;
}

button.search{
    min-width: 5em;
    max-width: 5em;
    min-height: 2em;
    max-height: 2em;
    background-color: #1ca78b;
    border: none;
    border-radius: 27px 0px 0px 27px;
}

.search-container{
    min-height: 5vh;
    max-height: 5vh;
}

button.search:hover{
    transform: none;
    background-color: #1ca78b;
}

input.search-bar{
    width: 5em;
    border-radius: 0px 27px 27px 0px;
}


.search-form{
    text-align: center;
    display: flex;
    flex-direction: row;
    width: 500px;
}

.search-bar{
    height: 2em;
    width: 50px;
    border-radius: 0px 0px 0px 27px;
}

