* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--clr-background);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition: 0.3s linear;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: fit-content;
}

:root{
    --clr-text: #1ca78b;
    --clr-textitems: #3c3d3c;
    --clr-navbar: #1ca78b;
    --clr-background: #e8e8e8; 
    --clr-items: #c0c7cc;
    --clr-textgrey: #3c3d3c;
}

.dark-mode{
    --clr-text: #1ca78b;
    --clr-background: #5c5e5c; 
    --clr-items: #3c3d3c;
    --clr-textgrey: #3c3d3c;
    --clr-textitems: #1ca78b;
}

#container-new{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 5vh;
}

h2{
    color: #3c3d3c;
    text-decoration: underline #1ca78b;
}

.input-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hide, .none{
    display: none;
}













/*nav bar stuff */


.header-si{
    display: flex;
    justify-content: left;
    margin-right: 75%;
}


.header-bg{
    position: relative;
    margin: 0;
    padding: 0;
    height: 5em;
    background-color: #3c3d3c;
    text-decoration: none;
}


.logo{
    display: flex;
    justify-content: left;
    margin-right: 75%;
    margin-top: -4%;
    top: 0;
    left: 0;
}

#nav-a{
    padding: 0;
    color: #1ca78b;
    text-decoration: none;
}

.right-cont{
    justify-content: right;
}

.icon-container-nav{
    display: flex;
    flex-direction: row;
    margin-left: -15em;
    margin-top: 1.5em;
    padding: 1%;
}



.notify-bell{
    color: #1ca78b;
}

.notis{
    padding-left: 1.5em;
}



.account-icon-phone{
    display: none !important;
}











ul{
    list-style:none;
    text-align: right;
}

li{
    margin-bottom: 2%;
}

li a{
  color: #1ca78b;  
  padding: 2%;
  text-decoration: none;
  list-style: none;
}

li a:hover{
    color: #1ca78b;  
    text-decoration: underline 1px #1ca78b;
  }

.dropdown-1{
    position: absolute;
    padding: 1%;
    max-width: 12em;
    min-width: 10em;
    background-color: #3c3d3c;
    color: #1ca78b;
    list-style: none;
    text-decoration: none;
    opacity: 100;
    right: 4%;
    top: 5em;
}





.search-container{
    z-index: 0;
    text-align: center;
    margin: 0 auto  ;
    margin-top: 1.5em;
    margin-left: 10%;
}

p.dismiss{
    text-decoration: underline;
    color: blue;
    cursor: grabbing;
}

button.search{
    min-width: 5em;
    max-width: 5em;
    min-height: 2em;
    max-height: 2em;
    background-color: #1ca78b;
    border: none;
    border-radius: 27px 0px 0px 27px;
}

.search-container{
    min-height: 5vh;
    max-height: 5vh;
}

button.search:hover{
    transform: none;
    background-color: #1ca78b;
}

input.search-bar{
    width: 5em;
    border-radius: 0px 27px 27px 0px;
}


.search-form{
    text-align: center;
    display: flex;
    flex-direction: row;
    width: 500px;
}

.search-bar{
    height: 2em;
    width: 50px;
    border-radius: 0px 0px 0px 27px;
}

div.sign-in a{
    display: flex;
    flex-direction: row;
    color: #1ca78b;
}

.sign-in p:hover{
    color: #1ca78b;
    text-decoration: underline 2px #1ca78b;
}

.sign-in p{
    color: #1ca78b;
    text-decoration: none;
    padding: 0;
}


.sign-in span{
    margin-left: .25em;
}

.sign-in span:hover{
    text-decoration: none;
}



.notis-num{
    color: #3c3d3c;
    font-weight: 600;
    background-color: #f2182a;
    border-radius: 27px;
    height: 1.5em;
    padding-left: .5rem;
    padding-right: .5rem;
    
}


.phone-notis{
    display: none;
}





















/* cokkie pop up */

.cookie-pop-up{
    text-align: center;
    margin-left: 34%;
    top: 20px;
    bottom: 1%;
    z-index: 100;
    position: sticky;
    height: fit-content;
    width: fit-content;
    padding: 1%;
    margin-bottom: 1%;
    background-color: #3c3d3c;
    color: #1ca78b;
}



.cookie-pop-up p{
    margin-bottom: 0;
}

.cookie-pop-up p a{
    margin-bottom: 0;
    color: #1ca78b;
}

.cookie-pop-up p a:hover{
    margin-bottom: 0;
    color: #1ca78b;
    text-decoration: underline #1ca78b 2px;
}


.cookie-buttons{
    display: flex;
    flex-direction: row;
    text-align: center;
}

.cookie-btn{
    text-align: center;
    margin-bottom: 2%;
    border-radius: 27px;
    width: 10vw;
}

.reject{
    margin-left: 2vw;
}

.accept{
    margin-left: 1vw;
}




























/* form styles */



.container-new{
    display: block;
    text-align: center;
}


form{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}


::placeholder{
    color:#000;
    text-transform: capitalize;
    font-style: italic;
  transition: top 0.3s ease;
  transition: text 0.3s ease;
 transition: color 0.3s ease;
}

input:focus::placeholder,textarea:focus::placeholder{
    font-size: smaller;
    color: darkgrey;
}

input:focus,textarea:focus{
    color: #696d69;
}

textarea{
    border: 3px solid #1ca78b;
}

.icon{
    height: 0em;
    top: 1em;
    left: 0;
  }

  .form-icon{
    height: 0em;
    top: 1em;
    left: 0;
    margin-right: 0.5em;
    color: #1ca78b;
  }

  input.valid{
    border: none;
    border-bottom: solid 1px #5cb85c;
    font-weight: 400;
    background-color: #5cb85c;
}

input.valid:focus{
    border: none;
    border-bottom: solid 3px #5cb85c;
    font-weight: 400;
}

input.invalid{
    border: none;
    border-bottom: solid 1px #d9534f;
    font-weight: 400;
}

input.invalid:focus{
    border: none;
    border-bottom: solid 3px #d9534f;
    font-weight: 400;
}

textarea{
    border: 1px solid #3c3d3c;
}

textarea:focus{
    border: 2px solid #1ca78b !important;
    text-decoration: none !important;
}


.agree_tos{
    margin-top: 20px;
}

#agree_tos{
    margin-top: 0px;
    transform: scale(0.75);
    margin-bottom: -30px;
}


input{
    height: 7%;
    width: 25em;
    border: none;
    border-bottom: solid 1px #3c3d3c;
    border-radius: 5px;
}

input.price{
    height: 7%;
    width: 25em;
    border: none;
    border-bottom: solid 1px #3c3d3c;
    border-radius: 5px;
}



input.price.invalid{
    height: 7%;
    width: 25em;
    border: none;
    border-bottom: solid 1px #d9534f;
    border-radius: 5px;
}

span{
    height: 2.4em;
}



label{
    color: #3c3d3c;
    font-weight: 600;  
}

.error{
    color: #d9534f;
    margin-left: 2em;
    font-size: medium;
}

.invalid{
    color: #d9534f;
}

button.rounded{
    margin-top: 0;
    margin-bottom: 0.5%;
    width: 125px;
    background-color: #1ca78b;
    border: solid 3px #1ca78b;
    border-radius: 27px !important;  
    padding: 0.25%;
}



p.dismiss{
    text-decoration: underline;
    color: blue;
    cursor: grabbing;
}

button:hover{
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
    background-color: #fff;
    border-width: 1px;
    color: #1ca78b;
}















/* loading styles */

.loading{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 50px;
    height: 50px;
    border: 10px solid white;
    border-radius: 50%;
    margin-top: 10%;
    margin-bottom: 10%;
    box-shadow: 2px 1px 2px 1px #1ca78b;
    animation: loading 1s linear infinite;
}

@keyframes loading {
    to {
        transform: rotate(1turn);
    }
}


.loading-new-post{
    display: flex;
    justify-content: center;
    width: 50px;
    height: 50px;
    border: 10px solid white;
    border-radius: 50%;
    margin-top: 1%;
    margin-bottom: 1%;
    box-shadow: 2px 1px 2px 1px #1ca78b;
    animation: loading 1s linear infinite;
}


.pop-up-body-new-post{
    margin-top: 1%;
}




































@media only screen and (max-width: 600px){


    body{
        max-width: 100vw !important;
    }
    
    .header-si, .header-bg{
        overscroll-behavior-inline: contain;
    }
    
    .logo{
        margin-left: -5rem;
    }
    
    .search-container{
        margin-left: -5rem;
        transform: scale(0.9);
    }
    
    
    .search-container form{
      width: 65vw;
      overscroll-behavior-inline: contain;
    }
    
    button.search-icon-btn{
        min-width: 2.5rem !important;
        max-width: 2.5rem !important;
    }
    
    .search-icon{
        transform: scale(0.8);
    }
    
    input.search-bar{
        max-width: 7.5em;
        border-radius: 0px 23px 23px 0px !important;
    }
    
    
    .right-cont{
        display: none;
    }
    
    .icon-container-nav{
        display: flex;
        flex-direction: row;
        margin-top: 1.5em;
        padding: 1%;
    }
    
    
    div.sign-in-phone{
        visibility: visible;
        display: flex;
        flex-direction: row;
        margin-left: 1.25rem !important;
    }
    
    
    div.sign-in-phone p{
        font-weight: bold;
        margin-top: .25rem;
    }
    
    
    circle{
        transform: scaleX(1.01);
    }
    
    .sign-in-icon-phone{
        transform: scaleY(1.5) !important;
    }
    
    
    .account-icon-phone{
        display: flex !important;
        margin-left: -2.25rem;
        color: #1ca78b;
        transform: scale(1.2);
        margin-top: .25rem;
    }
    
    .dropdown-1{
        margin-right: -1rem;
        justify-content: right;
        min-width: 15em;
    }
    
    .dropdown-1 li{
        margin-right: 10rem;
        margin-left: 0;
        padding: 0;
        white-space: nowrap;
        justify-content: left;
    }
    
    .icons{
        padding-left: .25rem;
        transform: scale(0.7);
        transform: translateY(5px);
    }
    
    
    
    .phone-notis{
        display: flex;
        padding-bottom: 0 !important;
        margin-bottom: 0 !important;
        margin-top: .5rem;
        height: 1.5rem;
    }
    
    .notis-num-phone{
        color: #3c3d3c;
        font-weight: 300;
        font-size: smaller;
        background-color: #f2182a;
        border-radius: 27px;
        height: fit-content;
        padding-left: 0.75%;
        padding-right: 0.75%;
        padding-bottom: 0 !important;
        margin-bottom: 0 !important;
    }
    
 
    





    
    

form{
    width: 80%;
}    

input{
    width: 17rem !important;
}
    
input.valid{
    border: none;
    border-bottom: solid 1px #5cb85c;
    font-weight: 400;
    background-color: #5cb85c;
}

input.valid:focus{
    border: none;
    border-bottom: solid 3px #5cb85c;
    font-weight: 400;
}

input.invalid{
    border: none;
    border-bottom: solid 1px #d9534f;
    font-weight: 400;
}

input.invalid:focus{
    border: none;
    border-bottom: solid 3px #d9534f;
    font-weight: 400;
}

    }